{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>The requested page couldn't be located.</p>

    <a class="btn btn-primary" href="{{ path('homepage') }}">Retourner à l'accueil</a>
{% endblock %}